.tagplayer-component .btn {
	background-color: #f5f5f5;
	border: 1px solid #AAA;
	color: #333;
	margin: 10px 10px 10px 0;
	width: 80px;
}

.fa-play, .fa-pause {
	display: none;
}

.tagplayer-component .video-container {
	position: relative;
	cursor: pointer;
}

.tagplayer-component .video-container::before {
	content: '►';
	font-size: 3em;
	position: absolute;
	top: 40%;
	left: 43%;
	background-color: #EEE;
	opacity: 0.3;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	line-height: 105px;
	text-align: center;
	transition: all 0.1s ease-in;

}

.tagplayer-component .video-container.playing::before {
	opacity: 0;

}

.tagtimeline-component  {
	margin: 10px 0;
	padding: 0px;


  
}

.tagtimeline-component ul {

    list-style: none;
    width: 638px;
    position: relative;
    border: 1px solid #CCC;
    border-top: none;
    height: 16px;
    margin-top: -14px;
    padding: 0;

}



.tagtimeline-component ul li {
	display: inline-block;
	position: absolute;
	
	
	height: 16px;
	background-color: rgba(150, 150, 150, 0.3);
	border-left: 1px solid #AAA;
	
	cursor: pointer;
	bottom: 0px;
	opacity: 1;
	

}



.tagtimeline-component ul li .info {
	
	display: none;
	margin-top: -3em;
	margin-left: -5px;
	font-size: 10px;
	color: #333;
	background-color: rgba(255 ,255 , 255, 0.8);

	padding: 2px 5px;

}

.tagtimeline-component ul li .info .screenshot {
	/*
	opacity: 1;
	margin-left: -150px;
    margin-top: 30px;
    */
 }

 .tagtimeline-component ul li .info .tags {
	display: block;
	width: 250px;
	overflow: hidden;
}

.tagtimeline-component ul li:hover .info {
	display: table;
}

 .canvas-container {
 	width: 680px;
 	height: 150px;
 	overflow: hidden;
 }

 .canvas-container .canvas-slider {
 	width: 10000px;
;
 	position: relative;
 	transition: 0.3s ease-in;
 }

.canvas-slider::before, .canvas-slider::after {
 	position: absolute;
 	display: block;
 	content: '';
 	width: 0; 
	height: 0; 
	top: 70px;
 } 

 .canvas-slider::before {
 	left: -20px;

	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	
	border-right:10px solid black; 
 }

.canvas-slider::after {
 	right: -20px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	
	border-left:10px solid black; 

 }

 .screenshot-container {
 	overflow: hidden;
 	display: inline-block;
 	transition: all 0.3s ease-in;
 	height: 150px;
 	border: 1px solid #fff;

 }

 .screenshot-container:hover {
 	width: 300px !important;
 }

.screenshot-container:hover .screenshot {
 	
 	transform: translateX(0px);
 }

 .screenshot {
 	
    transition: all 0.3s ease-in;
	transform: translateX(-100px);

}

 .screenshot:hover {

    /*border: 1px solid #333;*/
    cursor: pointer;


}



.tagtimeline-component .control {
	margin-top: 10px;
}

.tagtimeline-component .control .fa {
	margin-right: 20px;
}